

:root{
    --cor-texto-nav:  rgb(63, 101, 215);
    --cor-fundo-body: rgb(4, 0, 18);
    --cor-fundo-nav: rgb(6, 1, 29);
    --cor-texto-body: rgb(192, 192, 192);
    --cor-hover-nav: rgb(135, 160, 234);
}

body{
    background-color: var(--cor-fundo-body);
    color: var(--cor-texto-body);
    font-family: 'Courier New', Courier, monospace;
    line-height: 20px;
    width: 100%;
    padding-bottom: 4rem;
}

nav{
    background-color: var(--cor-fundo-nav);
    height: 6vh;
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

nav div{
    display: flex;
    gap: 2rem;
    align-items: center;
}

nav div a{ 
    color: var(--cor-texto-nav);
    text-decoration: none;
}

nav div a:hover{ 
    color: var(--cor-hover-nav);
}

#sublinhado{
    text-decoration-line: underline;
    text-underline-offset: 5px;
}

.titulo{
    font-size: 40px;
    color: var(--cor-texto-nav);
}

#conteudo{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    font-size: 1.5rem;
    line-height: 30px;
}


#descricao, #listas{
    width: 90vw;
}

#descricao{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    align-items: center;
    gap: 2rem;
}

#img-home{
    max-height: 500px;
}

.descricao__imagem{
    width: 50%;
    border-radius: 20px;
}

#descricao-texto{
    width: auto;
}

#listas{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.subtitulos{
    font-weight: 700;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: var(--cor-texto-nav);
    text-underline-offset: 7px;
    margin-bottom: 1rem;
}

ul {
    list-style-type: disc; /* Mostra os pontinhos */
    padding-left: 20px; /* Adiciona espaço à esquerda da lista */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

ul li h3{
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 7px;
    margin-bottom: 0.3em;
}

li li{
    list-style-type: none;
}

.portfolio-item-titulo{
    line-height: 35px;
    font-size: 30px;
    margin-top: 2rem;
    font-weight: 700;
}